#p{
    display: inline-block;
}
#d{
    opacity: 0.4;
}
#as{
    display: inline-block;
}
#sh{
    display: inline-block;
}
#sha{
    float: left;
}
body{
    margin-left: 550px;
    margin-top: 200px;
    margin-right: 350px;
}
#sh{
    margin-left: 2%;
}
