<!-- using bootstrap class = b4-navbar-default -->

<nav class="navbar navbar-expand-sm navbar-success bg-dark">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/about">About</a>           <!-- linking about component using routerLink -->
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Register</a>     <!-- linking register component using routerLink -->
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users">Users</a>           <!-- linking users component using routerLink -->
            </li>
            
            
        </ul>
        
    </div>
</nav>

