.a1{
    margin-left:150px;
    opacity:0.5;
    display: inline-block;
}
#a1{
    margin-left:100px;
    opacity:0.5;
}

#a5{
    width:600px;
}
.a6{
    opacity:0.5;
}
.a7{
    width:250px; 
}
.a8{
    margin-left:230px;
    opacity:0.5;
}
.a9{
    margin-left:150px;
    opacity:0.5;
}
fieldset{
    background:burlywood;
    width:50%;
}
#fo{
    margin-left:150px;
}
#fname{
    margin-left: 57px;
}
.b1{
    margin-left: 33px;
}
#b2{
 
}
#b2{
    margin-left: 30px;
}
#b9{
    margin-left: 200px;
}