div{
    margin-top: 10px;
}
#lab11{
    color:red;
    
}
#add2{
    margin-top:10px;
}
form{
    margin-left: 50px;
}
#sp1{
    display: block;
    margin-top: 1px;
    margin-left: 0px;
    
    opacity:0.4;
}
#sp2{
    display: block;
    margin-top: -19px;
    margin-left: 177px;
    opacity: 0.4;

}

h1{
    margin-bottom: 1px;
    margin-right: 0px;
}


