div{
    margin-top: 100px;
    margin-left: 100px;
}

span{
    display: inline-block;
    margin: 8px;
    box-shadow: 0 0 15px black;
    padding: 20px 25px;
    animation: movement 1s infinite linear;
}

@keyframes movement{
    0%{
        transform:scale(2,3)
    }
    50%{
        transform:scale(2,5)
    }
    100%{
        transform:scale(2,6) 
     }  
}

span:nth-child(1){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.1s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(2){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.2s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(3){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.3s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(4){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.4s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(5){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.5s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(6){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.6s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(7){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.7s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(8){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.8s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(9){
    background: linear-gradient(45deg,black,yellow);
    animation-delay:0.9s;
    box-shadow: 0 10px 15px black;
}



