<nav class="navbar navbar-expand-md navbar-dark bg-dark">


    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Add Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/edittask">Edit Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/showtask">Show all Task</a>
            </li>

        </ul>

    </div>
</nav>