#di{
    margin-left:132px;
}
    #df{
    margin-left: 255px;
}
#a{
    margin-left:160px;
}
#b{
    margin-left: 255px;
}
#c{
    margin-left:255px;
}
#d{
    margin-left:255px;
}
#e{
    margin-left:255px;
}
#f{
    margin-left:90px;
}
#g{
    margin-left:255px;
}
#h{
    margin-left:255px;
}
#i{
    margin-left:255px;
}
#j{
    margin-left:175px;
}
#k{
    margin-left:255px;
}
#l{
    margin-left:255px;
}
#m{
    margin-left: 255px;

}
#n{
    margin-left:140px;
}
#o{
    margin-left: 255px;
}
#p{
    margin-left: 255px;
}
#q{
    margin-left:255px;
}
#r{
    margin-left:140px;
}
#s{
    margin-left:255px;
}
#t{
    margin-left:255px;
}
#u{
    margin-left:255px;
}
#v{
    margin-left:215px;
}
#w{
    margin-left:255px;
}
#x{
    margin-left:255px;
}
#y{
    margin-left:255px;
}
#z{
    margin-left:120px;
}
#ab{
    margin-left:255px;
}
#bc{
    margin-left:255px;
}
#cd{
    margin-left:255px;
}