body{
    background: blueviolet;
}
div{
    background: red;
    width:39;
    height: 20%;
    display: inline-block;
}
span{
    background: yellowgreen;
    width:79%;
    height:20%;
    display: block; 
}